<?xml version="1.0"?>
<robot name="fsds_car">

    <material name="orange">
        <color rgba="0.905 0.384 0.015 1"/>
    </material>

    <material name="tyre">
        <color rgba="0.286 0.274 0.274 1"/>
    </material>


    <link name="car">
        <visual>
            <geometry>
                <box size="2.51 0.64 0.55"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <link name="fr">
        <visual>
            <geometry>
                <cylinder length="0.2" radius="0.2"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="0.25 0.6 -0.1"/>
            <material name="tyre"/>
        </visual>
    </link>

    <link name="fl">
        <visual>
            <geometry>
                <cylinder length="0.2" radius="0.2"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="0.25 -0.6 -0.1"/>
            <material name="tyre"/>
        </visual>
    </link>

    <link name="rr">
        <visual>
            <geometry>
                <cylinder length="0.2" radius="0.2"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="-1.1 0.6 -0.1"/>
            <material name="tyre"/>
        </visual>
    </link>

    <link name="rl">
        <visual>
            <geometry>
                <cylinder length="0.2" radius="0.2"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="-1.1 -0.6 -0.1"/>
            <material name="tyre"/>
        </visual>
    </link>


    <joint name="car_to_fr" type="fixed">
        <parent link="car"/>
        <child link="fr"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="car_to_fl" type="fixed">
        <parent link="car"/>
        <child link="fl"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="car_to_rr" type="fixed">
        <parent link="car"/>
        <child link="rr"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="car_to_rl" type="fixed">
        <parent link="car"/>
        <child link="rl"/>
        <origin xyz="0 0 0"/>
    </joint>
</robot>
